/* styles.css */
body {
	background-color: lightblue; /* Set light blue background color */
	display: flex;
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	height: 100vh; /* Full viewport height */
	margin: 0; /* Remove default margin */
}

form {
	font-size: medium;
	background-color: white; /* Set white background for form */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
