/* CSS for navigation links */
.nav-links {
	text-align: center;
	margin-top: 40px;
}

.nav-links a {
	margin: 0 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: #000; /* Black text color for links */
	text-decoration: none;
}

/* CSS for footer */
.footer-container {
	margin-top: 20px; /* Add some space above the footer */
}

footer {
	background-color: #333; /* Dark background color */
	color: #fff; /* White text color */
	text-align: center;
	padding: 20px 0; /* Add padding to the top and bottom */
}

footer h2 {
	color: #fff; /* White text color */
}

footer a {
	color: #fff; /* White text color for links */
	text-decoration: underline; /* Add underline to links */
}
