<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Welcome{% endblock %}</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		<div class="nav-links">
			<!-- Links to other pages -->
			<a href="/">Hello!</a>
			<a href="/submit-exercise">Submit Exercise</a>
			<a href="/retrieve-exercise">Retrieve Exercise</a>
			<a href="/q-and-a">Q & A</a>
		</div>

		<main>{% block content %}{% endblock %}</main>

		<div class="footer-container">
			<footer>
				<!-- Footer content -->
				<p>&copy; 2024</p>
				<p>
					<a href="https://github.com/ManningStinson">Manning Stinson</a> |
					<a href="https://github.com/BrandonMontezuma">Brandon Montezuma</a> |
					<a href="https://github.com/KevinVanguard">Kevin Vang</a>
				</p>
			</footer>
		</div>
	</body>
</html>
