{% extends "base.html" %} {% block title %}Exercise Design{% endblock %} {%
block content %}
<div class="exercise-grid">
	<!-- Column 1 -->
	<div class="column1">
		<div class="container">
			<!-- Video -->
			<div class="video">
				<p>Video Placeholder</p>
			</div>
			<!-- Video Name -->
			<div class="video-name">
				<p>Video Name Placeholder</p>
			</div>
			<!-- Exercise Difficulty -->
			<div class="exercise-difficulty">
				<p>Exercise Difficulty Placeholder</p>
			</div>
			<!-- Exercise Description -->
			<div class="exercise-description">
				<p>Exercise Description Placeholder</p>
			</div>
		</div>
	</div>

	<!-- Column 2 -->
	<div class="column2">
		<div class="container">
			<!-- Welcome -->
			<div class="welcome">
				<p>Welcome Placeholder</p>
			</div>
			<!-- About the Project -->
			<div class="about-project">
				<p>About the Project Placeholder</p>
			</div>
			<!-- Button -->
			<div class="button">
				<p>Button Placeholder</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
